:root {
  /* Primary */
  --orange: hsl(25, 97%, 53%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --otherGrey: hsla(217, 12%, 63%, 0.167);
}

img {
  /* border: 2px solid; */
  padding: 7px;
  border-radius: 50%;
  background-color: var(--otherGrey);
  margin: 20px 0px;
}

h1 {
  color: var(--white);
  margin-bottom: 10px;
  font-weight: 700;
}

p {
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.ratings {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.rating {
  display: none;
}

.rating + label {
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--otherGrey);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.rating:checked + label {
  background-color: var(--orange);
}

.rating+ label:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--darkBlue);
}

.submit {
  width: 100%;
  padding: 15px;
  background-color: var(--orange);
  border: none;
  border-radius: 25px;
  font-weight: 700;
  color: var(--veryDarkBlue);
  letter-spacing: 0.2rem;
  margin-bottom: 15px;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.02);
  background-color: var(--white);
}
